$header
<script language="javascript" src="js/check.js"></script>
<table width="760" border="1" align="center" cellpadding="4" cellspacing="1" bordercolor="#3D64D8"  bgcolor="#839CE7">
<form id="form1" name="form1" method="post" action="" onsubmit="return CheckForm(this)">
  <tr><td><h2>$threadtitle</h2></td></tr>
  <tr>
    <td bgcolor="#6080DF">$titlelist</td>
  </tr>
  <tr><td>  <label>
  <input type="submit" name="Submit" value=" Submit " /><input name="action" type="hidden" value="dotest" />
  </label>
</td></tr>
</form>
</table>
$footer