/*body {margin:5px 5px 5px 5px} */
body,p,table,a,form,input,textarea,select,botton {font-family:"Verdana","Song Ti"; font-size:12px; color:#000000} 
form {margin:0px} 
input,textarea,select,botton {padding:2px 2px 0px 2px} 

a:link    {text-decoration:none;      color:#222222} 
a:visited {text-decoration:none;      color:#444444} 
a:hover   {text-decoration:underline; color:#EE0000} 

.empha {color:#FF0000} 
.menu  {line-height:125%;} 

.pt {font-size:20px; font-weight:bold; color:#000000} 
.p1 {font-size:14px; line-height:150%; color:#000000} 
.p2 {font-size:16px; line-height:150%; color:#000000}
.p3 {font-size:18px; line-height:150%; color:#000000} 

.expressine {font-size:12px; font-family:"Song Ti"; color:#0000CC}
.expressoute {font-size:12px; font-family:"Song Ti"; color:#CC0000}
.expressinc {font-size:12px; font-family:"Song Ti"; color:#0000CC}
.expressoutc {font-size:12px; font-family:"Song Ti"; color:#CC0000}
.song {font-size:12px; font-family:"Song Ti"; color:#000000}
.item {color:#888888}
.firstalt{background-color:#EEEEEE}
.secondalt{background-color:#FFFFFF}
.tbhead{color:#FFFFFF;background-color:#8BAEE5}
.tableoutline{background-color:#D6E0EF}

.tbcat{color:#FFFFFF;background-color:#8BAEE5}#navlist {
    position: relative;
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#navlist li, #navlist a {
    height: 44px;
    display: block;
    float: left;
}
.popover-content {
 max-height: 400px !important;
  height:auto;
  overflow-y: scroll;
 }
 #popover {
  padding: 0;
  border: none;
  background: none;
 }
/*img {
	height: 100%;
	width: 100%;
    text-align: center;
}*/

figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}

/* 100415 Changes */
#main_banner{
  background: #C06190;
  font-size: 1.4em;
  height: 60px;
  margin: 0 auto;
  padding: 10px 10px 5px;
  width: 98%;
  /*text-align: center;*/
}
#banner_content{
  background: #C06190;
  color: #FFF;
  height: auto;
  width: auto;
  line-height: 50px;
  font-size: 24px;
  text-align: left;
}
#logo1 {
  height: 40px;
  width: auto;
  float: left;
  margin-right: 10px;
}
#action-icon{
  height: 30px;
  width: auto;
}

thead>tr{
  background-color: #6190c0;
  color: #ffffff;
}

/*.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>th, 
.table>caption+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>td, 
.table>thead:first-child>tr:first-child>td{
  border: 0;
  border-left-width: 0;
  border-right-width: 0;
}*/

.table>thead>tr>th, .table>thead>tr>td{
  border: 0;
  border-left-width: 0;
  border-right-width: 0;
  /*padding: 15px;*/
}

.table{
  border: none;
}

.table>tbody>tr>td{
  border-left-width: 0;
  border-right-width: 0;
  /*border-color: #6190c0;*/
  vertical-align: middle;
}


#home_icon{
  height: 35px;
  width: auto;
  float: left;
  /*margin-bottom: 1.1em;*/
}

ul.nav.navbar-nav{
  padding-bottom: 0;
}

ul.nav.navbar-nav>li.active>a{
  background-color: #61c091;
}

ul.nav.navbar-nav>li.active>a:hover{
  background-color: #61c091;
}

.navbar-nav>li>a{
  padding-top: 0;
  padding-bottom: 0;
}

ul.nav.navbar-nav>li>a {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
}

a.navbar-brand{
  display: inline-block;
  padding: 10px 15px;
}

.btn-default, a.btn-default {
  color: #ffffff;
  /*background-color: #df006e;*/
  /*color: #ffffff;*/
  background-color: #e14b4a;
  border-color: transparent; 
}

.btn-default:hover{
  /*color: #df006e;*/
  color: #ffffff;
  background-color: #bf2120;
  border-color: #e14b4a;
  /*border-color: transparent;*/
}

button.btn.btn-default.navbar.btn {
  color: #ffffff;
  /*background-color: #df006e;*/
  /*color: #ffffff;*/
  background-color: #e14b4a;
  border-color: transparent; 
}

.navbar{
  margin-bottom: 10px;
}

.breadcrumb{
  margin-bottom: 10px;
}

div#lesson_container, div#result_container{
  max-width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  border: solid;
  border-width: 1px;
  border-color: #e7e7e7;
}

div#notification>img{

}

button#popover, button#signout-btn{
  /*margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: middle;*/
  height: 35px;
}

button#notification-btn, button#signout-btn{
  margin-top: 8px!important;
  margin-bottom: 8px!important;
  vertical-align: middle!important;
}

button#popover>img, button#signout-btn>img{
  width: 18px;
  height: auto;

}

button#popover, button#signout-btn{
  background-color: #e14b4a;
  padding: 6px 12px;
  height: 35px;
}

button#popover:hover, button#signout-btn:hover{
  background-color: #bf2120;
}

button#popover>img{
  width: 18px;
  height: auto;

}

a#back-btn, a#logout-btn{
  color: #ffffff;
}

#home_icon{
  height: 35px;
  width: auto;
  float: left;
  /*margin-bottom: 1.1em;*/
}

ul.nav.navbar-nav{
  padding-bottom: 0;
}

ul.nav.navbar-nav>li>a:hover{
  background-color: #ffffff;
}

ul.nav.navbar-nav>li.active>a{
  background-color: #61c091;
}

ul.nav.navbar-nav>li.active>a:hover{
  background-color: #61c091;
}

.navbar-nav>li>a{
  padding-top: 0;
  padding-bottom: 0;
}

ul.nav.navbar-nav>li>a {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
}

a.navbar-brand{
  display: inline-block;
  padding: 10px 15px;
}

#change-pass td{
  padding: 10px;
}
/*a:hover{
  height: 45px;
}*/